{{# if shortURL}}
<div class="container d-grid gap-2 col-6 mx-auto">
  <h3 class="d-flex justify-content-center">Success! Please use this link:</h3>
  <a href="{{originalURL}}" target="_blank" class="d-flex justify-content-center col-6 mx-auto">
    <h4 id="url_copied">http://{{origin}}/{{shortURL}}</h4>
  </a>
  <div class="d-flex justify-content-center">
    <button id="copy-btn" class="btn btn-primary" onclick="copyTextContent()">Copy</button>
  </div>
</div>

<script>
  function copyTextContent() {
    // Get the text field
    const copyText = document.querySelector("#url_copied");
    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.textContent)
  }

</script>

{{else}}
<div class="container mt-5">
  <form action="/" method="post" class="pt-5 d-grid gap-2 col-6 mx-auto" novalidate>
    <input type="url" name="postURL" class="form-control text-muted " placeholder="Input URL here" required />
    <div class="valid-feedback"></div>
    <div class="invalid-feedback"></div>
    <div class="mt-4 d-grid gap-2 col-6 mx-auto">
      <button type="submit" id="submit-btn" class="btn btn-outline-primary">Shorten</button>
    </div>
  </form>
</div>

<script>
  const form = document.querySelector("form");
  const submitButton = document.querySelector("#submit-btn");

  submitButton.addEventListener("click", function onSubmitButtonClicked(event) {
    form.classList.add("was-validated");
  });

  form.addEventListener("submit", function onFormSubmitted(event) {
    form.querySelectorAll("input").forEach((element) => {
      if (!element.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
        const feedback =
          element.parentElement.querySelector(".invalid-feedback");
        feedback.textContent = element.validationMessage;
      }
    });
  });
</script>

{{/if}}