<head>
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<div class="container mt-5">
  <div class="logo">
    <h1 class="text-center">URL Shortener</h1>
    <img
      class="mt-5"
      src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      alt="chain photo"
    />
  </div>

</div>